<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de Emprestimos</h1>

    <a href="{{url_for('emprestimos.register')}}">Adicionar</a>

    <hr>
    {% for emprestimos in emprestimos %}
    <div style='display: flex; background-color: rgb(194, 153, 206); margin: 7px; border-radius: 15px; justify-content: space-around; color: white; font-family: Arial, Helvetica, sans-serif'>
        <p>{{emprestimos.email}}</p>
       <p>{{emprestimos.titulo}}</p>
       <p>{{emprestimos.data_eptm}}</p>
    </div>
    {% endfor %}
    
</body>
</html>